.light-theme .ant-input-number {
    color: #616161;
    background-color: #ddd6c1;
}

.light-theme .ant-input-number .ant-input-number-handler-wrap {
    color: #616161;
    background-color: #ddd6c1;
}

.light-theme .ant-btn-default {
    color: #616161;
    background-color: #ddd6c1;
}

.dark-theme .ant-input-number {
    background-color: #003847;
}

.dark-theme .ant-input-number .ant-input-number-handler-wrap {
    background-color: #003847;
}

.dark-theme .ant-btn-default {
    background-color: #003847;
}

.ant-input-group .ant-input-group-addon {
    padding: 0px 0px;
}
.ant-steps-item:not(:last-child) {
    margin-bottom: 20px;
}
.ant-steps-item-title {
    width: 100%;
}
