.ant-tabs-nav {
  z-index: 2;
}

.ant-tabs-content-holder {
  overflow: hidden;
}

/* Sider on the left */
.ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
  padding-left: 0px;
}
.ant-tabs-left > .ant-tabs-nav .ant-tabs-ink-bar {
  left: 0;
  right: auto;
}
/* light theme */
.ant-tabs-left.light-theme .ant-tabs-ink-bar {
  background: #584c27;
}
.ant-tabs-left.light-theme > .ant-tabs-nav {
  background-color: #ddd6c1;
}
.ant-tabs-left.light-theme > .ant-tabs-content-holder {
  background-color: #eee8d5;
  border-left: none;
  margin-left: 0px;
}
.ant-tabs-left.light-theme > .ant-tabs-nav .ant-tabs-tab-btn {
  color: #a79f84;
}
.ant-tabs-left.light-theme > .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #584c27;
}
.ant-tabs-left.light-theme > .ant-tabs-nav .ant-tabs-extra-content .ant-btn-text {
  color: #a79f84;
}
.ant-tabs-left.light-theme > .ant-tabs-nav .ant-tabs-extra-content .ant-btn-text:hover {
  background-color: initial;
  color: #584c27;
}
/* dark theme */
.ant-tabs-left.dark-theme .ant-tabs-ink-bar {
  background: #ffffff;
}
.ant-tabs-left.dark-theme > .ant-tabs-nav {
  background-color: #003847;
}
.ant-tabs-left.dark-theme > .ant-tabs-content-holder {
  background-color: #00212b;
  border-left: none;
  margin-left: 0px;
}
.ant-tabs-left.dark-theme > .ant-tabs-nav .ant-tabs-tab-btn {
  color: #668791;
}
.ant-tabs-left.dark-theme > .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ffffff;
}
.ant-tabs-left.dark-theme > .ant-tabs-nav .ant-tabs-extra-content .ant-btn-text {
  color: #668791;
}
.ant-tabs-left.dark-theme > .ant-tabs-nav .ant-tabs-extra-content .ant-btn-text:hover {
  background-color: initial;
  color: #ffffff;
}

/* Sider on the right */
.ant-tabs-right > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
  padding-left: 0px;
}
.ant-tabs-right > .ant-tabs-nav .ant-tabs-ink-bar {
  right: 0;
  left: auto;
}
/* light theme */
.ant-tabs-right.light-theme .ant-tabs-ink-bar {
  background: #584c27;
}
.ant-tabs-right.light-theme > .ant-tabs-nav {
  background-color: #ddd6c1;
}
.ant-tabs-right.light-theme > .ant-tabs-content-holder {
  background-color: #eee8d5;
  border-right: none;
  margin-right: 0px;
}
.ant-tabs-right.light-theme > .ant-tabs-nav .ant-tabs-tab-btn {
  color: #a79f84;
}
.ant-tabs-right.light-theme > .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #584c27;
}
.ant-tabs-right.light-theme > .ant-tabs-nav .ant-tabs-extra-content .ant-btn-text {
  color: #a79f84;
}
.ant-tabs-right.light-theme > .ant-tabs-nav .ant-tabs-extra-content .ant-btn-text:hover {
  background-color: initial;
  color: #584c27;
}
/* dark theme */
.ant-tabs-right.dark-theme .ant-tabs-ink-bar {
  background: #ffffff;
}
.ant-tabs-right.dark-theme > .ant-tabs-nav {
  background-color: #003847;
}
.ant-tabs-right.dark-theme > .ant-tabs-content-holder {
  background-color: #00212b;
  border-right: none;
  margin-right: 0px;
}
.ant-tabs-right.dark-theme > .ant-tabs-nav .ant-tabs-tab-btn {
  color: #668791;
}
.ant-tabs-right.dark-theme > .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ffffff;
}
.ant-tabs-right.dark-theme > .ant-tabs-nav .ant-tabs-extra-content .ant-btn-text {
  color: #668791;
}
.ant-tabs-right.dark-theme > .ant-tabs-nav .ant-tabs-extra-content .ant-btn-text:hover {
  background-color: initial;
  color: #ffffff;
}

/* Sider - hide content when collapsed */
.ant-layout .ant-layout-sider-children {
  overflow: hidden;
}

/* Tabs - no radius for inside buttons */
.ant-tabs .ant-tabs-extra-content .ant-btn {
  border-radius: 0px;
}

/* Splitter */
#splitterLeft {
  position: absolute;height: 100%;top: 0;width:4px;cursor: col-resize;
}
.ant-tabs-left.light-theme+#splitterLeft:hover {
  background-color: #aa8459;
}
.ant-tabs-left.dark-theme+#splitterLeft:hover {
  background-color: #1b7776;
}
.ant-tabs-right.light-theme+#splitterLeft:hover {
  background-color: #aa8459;
}
.ant-tabs-right.dark-theme+#splitterLeft:hover {
  background-color: #1b7776;
}
.colResizeCursor {
  cursor: col-resize;
}

.ant-tabs .ant-tabs-extra-content .ant-btn {
  margin-left: 0px;
  margin-right: 0px;
}
.ant-tabs .ant-tabs-content {
  height: 100%;
}
.ant-tabs .ant-tabs-content > .ant-tabs-tabpane {
  height: 100%;
}
